<section id="bodyTK" >
  <div><h2  >一&nbsp&nbsp&nbsp填空题</h2></div>
  <div>
    <% topic.fillIn.forEach(function(oneFillIn, indexX){ %>
      <ul>
        <label><%= indexX+1 %>.<%= oneFillIn.title %>&nbsp&nbsp&nbsp&nbsp</label>
        <% oneFillIn.answer.forEach(function(oneAnswer, indexY){ %>
          <li><input type="text" name="tk<%= indexX %>" value=<%= (typeof(oneFillIn.inputs)=="string")?oneFillIn.inputs:oneFillIn.inputs[indexY] %> ></li>
        <% }); %>
      </ul>
    <% }); %>
  </div>
</section>
