      <section id="bodyPD" >
        <div><h2 >四&nbsp&nbsp&nbsp判断题</h2></div>
        <div>
          <ul>
            <li>
              <label>1. 用例图只是用于和客户交流和沟通的,用于确定需求。&nbsp&nbsp&nbsp&nbsp</label>
              <input type="radio" name="pd1"/>正确
              <input type="radio" name="pd1"/>错误
            </li>
            <li>
              <label>2. 在状态图中,终止状态在一个状态图中允许有任意多个。</label>
              <input type="radio" name="pd2"/>正确
              <input type="radio" name="pd2"/>错误
            </li>
          </ul>
        </div>
      </section>
