<header>
  <div >
    <h1 id="title" >统一建模语言理论测试&nbsp&nbsp&nbsp</h1>
  </div>
  <div>
    <div><h2  >基本信息</h2></div>
        <label for="class">班级</label><input type=  "text" name="class" value="">
        <label for="name">姓名</label><input type="text" name="name" value="">
        <label for="id">学号</label><input type="text" name="id" value="">
        <h3>
          <label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp成绩</label><label id="score" />100</label>
        </h3>
  </div>
</header>
