<header>
  <div class="container well panel-primary bg-info" style="background:black">
    <h1 id="title" class=" text-center  panel-heading" style="background:black">统一建模语言理论测试&nbsp&nbsp&nbsp</h1>
  </div>
  <div class="container well panel-danger" >
    <div class="panel-heading" style="background:black"><h2 id="T-title" class="panel-title">基本信息</h2></div>
    <ul class="list-inline text-left panel-body row">
      <li class="col-md-3">
        <label class="control-label" for="class">班级</label>
        <input type="text" class="form-control" name="class" value=<%= classs %>>
      </li>
      <li  class="col-md-3">
        <label  class="control-label" for="name">姓名</label>
        <input type="text" class="form-control" name="name" value=<%= names %>>
      </li>
      <li  class="col-md-3">
        <label class="control-label" for="id">学号</label>
        <input type="text" class="form-control" name="id" value=<%= ids %>>
      </li>
      <li  class="col-md-3">
        <h3>
          <label class="control-label">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp成绩</label>
          <label id="score"  class="text-danger text-right"><%= scores %></label>
        </h3>
      </li>
    </ul>
  </div>
</header>
