<section id="bodyJD" class="container  well panel-primary ">
  <div class="panel-heading" ><h2 class="panel-title">四&nbsp;&nbsp;&nbsp;简答题</h2></div>
  <div  class="panel-body ">
    <% topics.forEach(function(topic, indexX){ %>
      <ul class="list-unstyled orm-group form-group-lg">
        <li><label class="control-label"><%= indexX+1 %>.<%= topic.title %>&nbsp;&nbsp;&nbsp;&nbsp;</label></li>
        <li class="controls "><textarea class="form-control" rows="5"  name="jd<%= indexX %>" ><%= topic.inputs %></textarea></li>
      </ul>
    <% }); %>
  </div>
</section>
