<section id="bodyJD" >
  <div><h2>四&nbsp&nbsp&nbsp简答题</h2></div>
  <div>
    <ul>
      <li>
        <label>1. 简述什么石模型及模型的表现形式?&nbsp&nbsp&nbsp&nbsp</label>
        <input type="text" name="jd1"/>
      </li>
    </ul>
  </div>
</section>
