<section id="bodyJD" >
  <div><h2>四&nbsp&nbsp&nbsp简答题</h2></div>
  <div>
    <% topic.short.forEach(function(oneShort, indexX){ %>
      <ul>
        <li><label><%= indexX+1 %>.<%= oneShort.title %>&nbsp&nbsp&nbsp&nbsp</label></li>
        <li><input type="text" name="jd<%= indexX %>"/></li>
      </ul>
    <% }); %>
  </div>
</section>
